<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>



    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <link href="~/fonts/StyleSheet1.css" rel="stylesheet" />
  



</head>
<body>

    <!--navbar-->
    <nav class="navbar  navbar-default navbar-fixed-top">
        <div class="container">
            <div class=" navbar-header">
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">

                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div id="navbar" class="navbar-collapse collapse">


                    <!--Partial Login-->

                    @Html.Partial("_Login")

                    <ul class="nav navbar-nav navbar-left  ">
                        <li> <a href="~/Home/Index">  <i class="glyphicon glyphicon-home">   </i> Home  </a> </li>

                        <li> <a href="#"> <i class="glyphicon glyphicon-globe">   </i> about Us </a> </li>
                        <li> <a href="#"> <i class="	glyphicon glyphicon-earphone">   </i> Contact </a> </li>


                        <li>
                            @using (Html.BeginForm("Search", "Home", FormMethod.Post))
                            {

                                <input type="text" class="glyphicon glyphicon-search" name="SearchName" id="SearchName" placeholder=" Search...." />

                            }


                        </li>

                    </ul>

                </div>


            </div>

        </div>

    </nav>

    <div class="container">
        <div class="row">
            @RenderBody()

        </div>
    </div>


   
        <!--footer-->

    <footer class=" Myfooter ">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h3>

                        <i class="glyphicon glyphicon-question-sign"></i> What About Us?

                    </h3>

                    <p>
                        Build a foundation in computer science and the art of programming through use of algorithms, data structures, string manipulation, encapsulation, resource management, security, software engineering, and web development

                    </p>
                </div>
                <div class="col-md-4">
                    <h3>
                        <i class="glyphicon glyphicon-arrow-right"></i> Links
                    </h3>
                    <ul>
                        <li> <a href="#">  Public Jobs</a></li>
                        <li><a href="#">  Special Jobs  </a></li>
                        <li><a href="#"> various Jobs</a></li>
                        <li><a href="#">  Differnet Jobs</a></li>
                    </ul>


                </div>

                <div class="col-md-4">
                    <h3>
                        <i class="glyphicon glyphicon-hand-down"></i> Contact with Us


                    </h3>
                    <ul>
                        <li> <a href="#"> Follow on Facebokk</a></li>
                        <li><a href="#"> Follow in twitter</a></li>
                        <li><a href="#">  Follow on Youtube</a></li>
                        <li><a href="#"> Send a Massage</a></li>
                    </ul>


                </div>



            </div>


        </div>

        <div class="subfooter">

            <p>
                Copy-rights@2019-2020
            </p>
        </div>

    </footer>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>



</body>
</html>